body{
    background-color: #1f1f1f;
    color: white;
    margin-left: 30px;
    width:50%;
}

.bandeau{
    width:50%;
}

blockquote{
    padding: 20px;
    border-top-left-radius: 15px;
    color: rgb(235, 228, 188);
    background-color: #2b2b2b;
}

.trash{
background-color: #136e71;
}